# R specific files to ignore
.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_store
.here

# Other files to ignore
src/scratch/*

# Directories with large data files
scratch/*
data/raw/*
data/processed/*
output/*
slurmOutput/*
guide_files/*
