// Keywords: environmental change, temporal change

initialize() {
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);    // type 1
	//initializeMutationType("m2", 0.5, "f", 0.0);    // type 2
	initializeGenomicElementType("g1", c(m1), c(1));
	initializeGenomicElement(g1, 0, 0);
	initializeRecombinationRate(0);
	defineGlobal("COUNT", 19);
	//defineGlobal("N", 2500);
	m1.convertToSubstitution = F;
	//m2.convertToSubstitution = F;
	
	//user parameters
	//defineGlobal("m", 0.001);
	//defineConstant("thresh", 7.975);
	//defineConstant("k", 0.001);
	//defineConstant("repId", 1);
    //defineConstant("root",  "/Users/emilylongman/Documents/UVM/Population_Genomics/SLiM/slim_dumping/");

}

// fitness calls
mutationEffect(m1) {
    
    if(scal == 0) {
    return 1.0; // Neutrality is indicated by a relative fitness of 1.0
    } else{
    env = individual.subpopulation.getValue("env");
    return 1+(-1*(asym/(1+exp((env-thresh)/scal)) - (asym/2)));
    }
}

//migration and pop-structure
1 early() {

	// create populations
	for (i in 0:(COUNT-1))
		sim.addSubpop(i, N);
	
	// create migration
	subpops = sim.subpopulations;
	for (i in 1:(COUNT-1)) subpops[i].setMigrationRates(i-1, m);
	for (i in 0:(COUNT-2)) subpops[i].setMigrationRates(i+1, m);


} // this closes1 early() // <--
	
1 late() {	
	
	allHaps = sim.subpopulations.haplosomes;
	
	g = sample(sim.subpopulations.haplosomes,
           asInteger(size(sim.subpopulations.haplosomes) / 2));

	mut1 = sim.subpopulations.haplosomes[0].addNewDrawnMutation(m1, 0);

	for (genome in g)
    if (!genome.containsMutations(mut1))
        genome.addMutations(mut1);
        
        
   notSampled = setDifference(sim.subpopulations.haplosomes, g);
   
	//mut2 = sim.subpopulations.haplosomes[0].addNewDrawnMutation(m2, 0);

   //for (genome2 in notSampled)
    //if (!genome2.containsMutations(mut2))
        //genome2.addMutations(mut2);
        
}

// general early calls
early() {
    env = c(
8.023377561,
8.016675575,
8.013330447,
8.006025013,
7.987332623,
7.926713508,
7.957538759,
7.940880291,
7.937233951,
7.933377415,
7.923570354,
7.941466321,
7.941527015,
7.946801475,
7.963869108,
7.96609182,
7.948259634,
7.946165852,
7.950069857    
    );

    for (i in seqAlong(sim.subpopulations))
        sim.subpopulations[i].setValue("env", env[i]);
}

// general late calls

1:10000 late() {

	if (size(sim.mutationsOfType(m1)) == 0){
    freq0 = rep(0,  COUNT);
	cat(freq0);
	state="lost";
	writeFile(
	paste(root, "/", "phclineAFs.",repId,"_", m,"_", thresh,"_", scal,"_", asym,"_", N , "_", state, "_" ,sim.cycle,
	"." , "txt", sep=""),
	paste(freq0),
	append=F);
	cat("mutation lost in cycle " + sim.cycle + "\n");
	
	sim.simulationFinished();			
			}//close if
			
	if (sim.cycle == 30000){
	
	 mut1 = sim.mutationsOfType(m1);
	 freq1=NULL;
	 for (p in sim.subpopulations)
    freq1 = c(freq1, sim.mutationFrequencies(p, mut1)); 
    catn(sim.subpopulations);
    catn(freq1);
	state="poly";
	
    writeFile(
	 paste(root, "/", "phclineAFs.",repId,"_", m,"_", thresh,"_", scal,"_", asym,"_", N , "_", state, "_" ,sim.cycle,
	 "." , "txt", sep=""),
	 paste(freq1),
	 append=F);
	
   }//close 2ndif

// reporter for debugging
mut1 = sim.mutationsOfType(m1);
freq1=NULL;
for (p in sim.subpopulations)
    freq1 = c(freq1, sim.mutationFrequencies(p, mut1));
    catn(sim.subpopulations);
    catn(freq1);

}
