// Keywords: environmental change, temporal change

initialize() {
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);    // type 1
	initializeGenomicElementType("g1", c(m1), c(1));
	initializeGenomicElement(g1, 0, 0);
	initializeRecombinationRate(0);
	defineGlobal("COUNT", 19);
	defineGlobal("N", 5000);
	m1.convertToSubstitution = F;
	
	//user parameters
	defineGlobal("m", 0.005);
	defineConstant("thresh", 7.996);
	defineConstant("k", 0.09);
	defineConstant("mag", 1);
	//defineConstant("repId", 1);
    //defineConstant("root",  "/Users/emilylongman/Documents/UVM/Population_Genomics/SLiM/slim_dumping/");

}

// fitness calls
mutationEffect(m1) {
    
    if(k == 0) {
    return 1.0; // Neutrality is indicated by a relative fitness of 1.0
    } else{
    env = individual.subpopulation.getValue("env");
    return 1+(mag/(1+exp((env - thresh)/k))-(mag/2));
    }
}


//migration and pop-structure
1 early() {

	// create populations
	for (i in 0:(COUNT-1))
		sim.addSubpop(i, N);
	
	// create migration
	subpops = sim.subpopulations;
	for (i in 1:(COUNT-1)) subpops[i].setMigrationRates(i-1, m);
	for (i in 0:(COUNT-2)) subpops[i].setMigrationRates(i+1, m);


} // this closes1 early() // <--
	
1 late() {	
	
	allHaps = sim.subpopulations.haplosomes;
	
	// Create mutation
	mut1 = p18.haplosomes[0].addNewDrawnMutation(m1, 0);

	// Set starting AF for the 19 pops
	// Set AF for pop 0
	gp0 = sample(p0.haplosomes, asInteger(size(p0.haplosomes)*0)); 
	for (genome in gp0)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 1
	gp1 = sample(p1.haplosomes, asInteger(size(p1.haplosomes)*0)); 
	for (genome in gp1)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 2
	gp2 = sample(p2.haplosomes, asInteger(size(p2.haplosomes)*0)); 
	for (genome in gp2)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 3
	gp3 = sample(p3.haplosomes, asInteger(size(p3.haplosomes)*0)); 
	for (genome in gp3)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 4
	gp4 = sample(p4.haplosomes, asInteger(size(p4.haplosomes)*0.288888889)); 
	for (genome in gp4)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 5
	gp5 = sample(p5.haplosomes, asInteger(size(p5.haplosomes)*1)); 
	for (genome in gp5)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 6
	gp6 = sample(p6.haplosomes, asInteger(size(p6.haplosomes)*0.959183673)); 
	for (genome in gp6)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);   
 	// Set AF for pop 7
	gp7 = sample(p7.haplosomes, asInteger(size(p7.haplosomes)*0.976744186)); 
	for (genome in gp7)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1); 
   // Set AF for pop 8
	gp8 = sample(p8.haplosomes, asInteger(size(p8.haplosomes)*0.973684211)); 
	for (genome in gp8)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);      
 	// Set AF for pop 9
	gp9 = sample(p9.haplosomes, asInteger(size(p9.haplosomes)*1)); 
	for (genome in gp9)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 10
	gp10 = sample(p10.haplosomes, asInteger(size(p10.haplosomes)*0.983870968)); 
	for (genome in gp10)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1); 
 	// Set AF for pop 11
	gp11 = sample(p11.haplosomes, asInteger(size(p11.haplosomes)*0.979166667)); 
	for (genome in gp11)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
 	// Set AF for pop 12
	gp12 = sample(p12.haplosomes, asInteger(size(p12.haplosomes)*0.96)); 
	for (genome in gp12)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
 	// Set AF for pop 13
	gp13 = sample(p13.haplosomes, asInteger(size(p13.haplosomes)*0.983050847)); 
	for (genome in gp13)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 14
	gp14 = sample(p14.haplosomes, asInteger(size(p14.haplosomes)*1)); 
	for (genome in gp14)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1); 
 	// Set AF for pop 15
	gp15 = sample(p15.haplosomes, asInteger(size(p15.haplosomes)*0.954545455)); 
	for (genome in gp15)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 16
	gp16 = sample(p16.haplosomes, asInteger(size(p16.haplosomes)*1)); 
	for (genome in gp16)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 17
	gp17 = sample(p17.haplosomes, asInteger(size(p17.haplosomes)*1)); 
	for (genome in gp17)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1); 
	// Set AF for pop 18
	gp18 = sample(p18.haplosomes, asInteger(size(p18.haplosomes)*1)); 
	for (genome in gp18)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);   	
   	
   
        
	//g = sample(sim.subpopulations.haplosomes,
   //        asInteger(size(sim.subpopulations.haplosomes) / 2));

	//for (genome in g)
   // if (!genome.containsMutations(mut1))
   //     genome.addMutations(mut1);
        
        
   //notSampled = setDifference(sim.subpopulations.haplosomes, g);

}

// general early calls
early() {
    
b = c(
8.044053914,
8.036338613,
8.032625069,
8.024415833,
8.005656690,
7.945232425,
7.976650895,
7.959830622,
7.956318796,
7.952867651,
7.943334435,
7.961259886,
7.961422487,
7.966636861,
7.982954166,
7.985185206,
7.967366522,
7.965315490,
7.969225779);
    
 m = c(
-0.004460083,
-0.004393947,
-0.004371073,
-0.004283184,
-0.004243303,
-0.004162642,
-0.004167159,
-0.004151373,
-0.004144105,
-0.004166577,
-0.004179862,
-0.004185238,
-0.004193009,
-0.004190500,
-0.004185339,
-0.004186286,
-0.004191367,
-0.004187588,
-0.004185431);

    // Calculate pH based on slope and intercept for each pop
    for (i in seqAlong(sim.subpopulations)){
        env_i = m[i]*sim.cycle + b[i];
        catn("Cycle=" + sim.cycle + ", pop=" + i + ", env=" + env_i);
        sim.subpopulations[i].setValue("env", env_i);
        }
    
}

// general late calls

1:80 late() {

	//if (size(sim.mutationsOfType(m1)) == 0){
    //freq0 = rep(0,  COUNT);
	//cat(freq0);
	//state="lost";
	//writeFile(
	//paste(root, "/", "phclineAFs_future.",repId,"_", m,"_", thresh,"_", k,"_", mag,"_", N , "_", state, "_" ,sim.cycle,
	//"." , "txt", sep=""),
	//paste(freq0),
	//append=F);
	//cat("mutation lost in cycle " + sim.cycle + "\n");
	
	//sim.simulationFinished();			
	//		}//close if
			
	//if (sim.cycle == 80){
	
	 mut1 = sim.mutationsOfType(m1);
	 freq1=NULL;
	 for (p in sim.subpopulations)
    freq1 = c(freq1, sim.mutationFrequencies(p, mut1)); 
    catn(sim.subpopulations);
    catn(freq1);
	state="poly";
	
    writeFile(
	 paste(root, "/", "phclineAFs_future.",repId,"_", m,"_", thresh,"_", k,"_", mag,"_", N , "_", state, "_" , sim.cycle,
	 "." , "txt", sep=""),
	 paste(freq1),
	 append=F);
	
   //}//close 2ndif

//reporter for debugging
//mut1 = sim.mutationsOfType(m1);
//freq1=NULL;
//for (p in sim.subpopulations)
//    freq1 = c(freq1, sim.mutationFrequencies(p, mut1));
//    catn(sim.subpopulations);
//    catn(freq1);
//	catn("Cycle=" + sim.cycle + ", pop=" + i + ", env=" + env_i);
	
	writeFile(
	 paste(root, "/per_simcycle/", "phclineAFs_future_freq.",repId,"_", m,"_", thresh,"_", k,"_", mag,"_", N , "_", state, "_" , 
	 "." , "txt", sep=""),
	 paste(freq1),
	 append=T);


	for (i in seqAlong(sim.subpopulations)){
        env_i = m[i]*sim.cycle + b[i];
		writeFile(
	 	paste(root, "/per_simcycle/", "phclineAFs_future_env.",repId,"_pop_", i, "." , "txt", sep=""),
        paste("Cycle=" + sim.cycle + ", pop=" + i + ", env=" + env_i),
		append = T);
        }

}

