// Keywords: environmental change, temporal change

initialize() {
	initializeMutationRate(0);
	initializeMutationType("m1", 0.5, "f", 0.0);    // type 1
	initializeGenomicElementType("g1", c(m1), c(1));
	initializeGenomicElement(g1, 0, 0);
	initializeRecombinationRate(0);
	defineGlobal("COUNT", 4);
	defineGlobal("N", 5000);
	m1.convertToSubstitution = F;
	
	//user parameters
	defineGlobal("m", 0.00001);
	defineConstant("thresh", 7.986);
	defineConstant("k", 0.1);
	defineConstant("mag", 1);
	//defineConstant("repId", 1);
    //defineConstant("root",  "/Users/emilylongman/Documents/UVM/Population_Genomics/SLiM/slim_dumping/");

}

// fitness calls
mutationEffect(m1) {
    
    if(k == 0) {
    return 1.0; // Neutrality is indicated by a relative fitness of 1.0
    } else{
    env = individual.subpopulation.getValue("env");
    return 1+(mag/(1+exp((env - thresh)/k))-(mag/2));
    }
}


//migration and pop-structure
1 early() {

	// create populations
	for (i in 0:(COUNT-1))
		sim.addSubpop(i, N);
	
	// create migration
	subpops = sim.subpopulations;
	for (i in 1:(COUNT-1)) subpops[i].setMigrationRates(i-1, m);
	for (i in 0:(COUNT-2)) subpops[i].setMigrationRates(i+1, m);


} // this closes1 early() // <--
	
1 late() {	
	
	allHaps = sim.subpopulations.haplosomes;
	
	// Create mutation
	mut1 = p18.haplosomes[0].addNewDrawnMutation(m1, 0);

	// Set starting AF for the 19 pops
	// Set AF for pop 0
	gp0 = sample(p0.haplosomes, asInteger(size(p0.haplosomes)*0)); 
	for (genome in gp0)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 1
	gp1 = sample(p1.haplosomes, asInteger(size(p1.haplosomes)*0.288888889)); 
	for (genome in gp1)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);
	// Set AF for pop 2
	gp2 = sample(p2.haplosomes, asInteger(size(p2.haplosomes)*0.983870968)); 
	for (genome in gp2)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1); 
	// Set AF for pop 3
	gp3 = sample(p3.haplosomes, asInteger(size(p3.haplosomes)*1)); 
	for (genome in gp3)
   	if (!genome.containsMutations(mut1))
   	genome.addMutations(mut1);   	


}

// general early calls
early() {
    
b = c(
8.044053914,
8.005656690,
7.943334435,
7.969225779);
    
slope = c(
-0.004460083,
-0.004243303,
-0.004179862,
-0.004185431);

    // Calculate pH based on slope and intercept for each pop
    for (i in seqAlong(sim.subpopulations)){
        env_i = slope[i]*sim.cycle + b[i];
        catn("Cycle=" + sim.cycle + ", pop=" + i + ", env=" + env_i);
        sim.subpopulations[i].setValue("env", env_i);
        }
    
}

// general late calls

1:80 late() {
	
	mut1 = sim.mutationsOfType(m1);
	freq1=NULL;
	for (p in sim.subpopulations)
    freq1 = c(freq1, sim.mutationFrequencies(p, mut1)); 
    catn(sim.subpopulations);
    catn(freq1);
	state="poly";
	
	writeFile(
	 paste(root, "/phclineAFs_future_freq.",repId,"_", m,"_", thresh,"_", k,"_", mag,"_", N , "_", state , "." , "txt", sep=""),
	 paste(freq1), append=T);

}

